{%extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>{% endblock %}
</head>
<body >
    {% block body %}
    <!-- <a href="/index"><input type=submit value=Home></a> -->
    <hr>    
    {% if atodos[0] %}    
    <div span="right">    
    <form action="/search"   method="GET" >    
        <table class="table table-hover" >    
            <thead  style="background-color:  #45cacc; ">   
        <tr>    
        <td></td><td></td>    
        <td><big><b>Search Employeee:</b></big></td>    
        <td><select name="refer" required>    
            <option value="Empid">EmpId</option>
            <option value="name">Employee Name</option>    
            <option value="date_time">Date_time</option>
            <option value="temperature">Temperature</option>    
                
                
        </select></td>    
        <td><input type="text" name="key" placeholder="Search" size="15" /></td>    
        <td><button type="submit">Search</button></td>    
        </tr> 
    </thead>       
        </table>    
    </form>    
    </div>    
    <b><big>Attendance:</big></b>    
    <table class="table table-hover" >    
        <thead  style="background-color:  #45cacc; ">  
        <tr id="row">    
                
            <th class="Empid">Employee ID</th>    
            <th class="name">Name</th>    
            <th class="date_time">Entry Date & Time</th>    
            <th class="temperature">Temperature</th>    
        <th class="func1">Remove</th>    
        <!-- <th class="func2">Modify</th>     -->
        </tr>    
    </thead>
    <tbody style="background-color: whitesmoke;">
    {% for todo in atodos %}    
        <tr class="datas">    
             
            <td class="Empid"><a href="http://127.0.0.1:5000/profile/{{ todo["Empid"]}}">{{ todo["Empid"] }}</a></td>    
            <td class="name">{{ todo["name"] }}</td>    
            <td class="date_time">{{ todo["date_time"] }}</td>    
            <td class="temperature">{{ todo["temperature"] }}</td>    
            <td class="func1"><a href="./remove2?_id={{ todo['_id'] }}"><button type="submit">DELETE</button></a></td>    
            <!-- <td class="func1"><a href="./update2?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>     -->
            
        </tr>    
    {% endfor %}   
</tbody> 
    </table>    
    {% else %}    
    <h4>No Attendance in the List !!</h4>    
    {% endif %}    
    <hr/>    
    
    <!-- <table>    
        <tr id="row">    
              
            <th class="date_time">date_time</th>  
            <th class="name">NAME</th>    
            <th class="temperature">EMPLOYEE Temp</th>    
            <th class="uv">UV</th>    
                
        </tr>    
            
    {% for todo in atodos %}    
        <tr class="datas">    
            
            <td class="date_time">{{ todo["date_time"] }}</td>    
            <td class="name">{{ todo["name"] }}</td>    
            <td class="temperature">{{ todo["temperature"] }}</td>
            <td class="uv">{{ todo["uv"] }}</td>    
              
        </tr>    
    {% endfor %}    
    </table>     -->

    <form action="/download_log_attendance/", methods="POST">
        <!-- <input type="text" name="nametodownload" placeholder="Enter Employee name to Download record"> -->
        <!-- <input type="button" ><a href="http://127.0.0.1:5000/download_log">Export CSV</a> -->
        <a href="http://127.0.0.1:5000/download_log_attendance"><input type="button" value="Export CSV"></a>
    </form>

    {% endblock %}
</body>
</html>