{% extends 'base.html'%}
<html>    
   <head>  {% block head %}
            <title>Update</title>    
            {% endblock %}  
        </head>    
        <style>       
            h1{    
                font-family:"Arial Black", Gadget, sans-serif;    
            }    
            body{    
                background-color:white;    
            }    
        </style>    
    <body style="background-color:hsl(195, 48%, 56%);">  
        {% block body %}
      
           
        <hr>    
        
        <h3>Update Employee</h3>    
        <form action="/action3" method="POST">    
        {% for task in tasks %}    
           <b> Unique Object ID : {{ task['_id'] }}<br/>   </b> 
       <input type="text" name="_id" value="{{ task['_id'] }}" hidden>    <br>
       
        <table>    
        <tr>    
        <td>Name</td><td> : </td><td><input type="text" name="name" value="{{ task['name'] }}" placeholder="{{ task['name'] }}"></td>    
        </tr>    
        <tr>    
        <td>Employee Post</td><td> : </td><td><input type="text" name="epost" placeholder="{{ task['epost'] }}" value="{{ task['epost'] }}"></td>    
        </tr>    
        <tr>    
        <td>Blood Group</td><td> : </td><td><input type="text" name="bloodgroup" value="{{ task['bloodgroup'] }}" placeholder="{{ task['bloodgroup'] }}"></td>    
        </tr>    
        <tr>    
        <td>Mobile no.</td><td> : </td><td><input type="text" name="mobile_no" value="{{ task['mobile_no'] }}" placeholder="{{ task['mobile_no'] }}"></td>    
        </tr>    
        </table>    
        {% endfor %}<br>
            <button type="submit"> Update Employee </button>    
            <br/>    
        </form>    
        
        {% endblock %}  
</body>    
</html>   